{% extends 'base.html.twig' %}
{% block body %}
  <p>{{event.name}}</p>
  <p>{{event.email}}</p>

  <!-- <p>{{event.address}}</p> -->

  <a class="btn btn-default" href="/">Back to Events</a>
{% endblock %}