<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 mt-3 bg-warning">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.istockphoto.com/photos/this-is-how-we-do-picture-id1172760486?b=1&k=6&m=1172760486&s=170667a&w=0&h=Pr66Zr2sa142xovlOwmDRA8rq-TMoNvBIoexb8Vlzo8=" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.istockphoto.com/photos/friends-drinking-spritz-at-cocktail-bar-with-face-masks-new-normal-picture-id1239857587?b=1&k=6&m=1239857587&s=170667a&w=0&h=ZeVuwc9pVsOi9pysabOB3X1VRnxRf5I3mKRpzAR4g40=" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://cdn.pixabay.com/photo/2017/01/09/02/02/pink-wine-1964457__340.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.istockphoto.com/photos/cabaretgirls-dance-variety-show-dancers-in-white-dresses-perform-picture-id1148653300?b=1&k=6&m=1148653300&s=170667a&w=0&h=QEijYw-IOlLf_zDZPFhwPmLJhi6K0ui7jV-zwnzqMVQ=" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.istockphoto.com/photos/studio-portrait-of-a-sexy-female-in-a-colorful-sumptuous-carnival-picture-id1153438698?b=1&k=6&m=1153438698&s=170667a&w=0&h=2nU8DV-IyKzX1qb7dAeiUJJ_3eM6ueVKSIYTX2GY058=" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://cdn.pixabay.com/photo/2015/11/03/13/41/cabaret-1020867__340.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->